workflows/SeekJob AI - 2.json
{
  "name": "SeekJob AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a6043cd4-8f68-448c-ab23-3a383fbc5989",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "2440c48f-eab9-4f5c-bdac-539ebf322667",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c26c55d-e8d3-4bc1-9f8e-c0f79372752c",
              "name": "job_title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "470df4fa-2a91-444e-a6d4-cfcb872582f6",
              "name": "company",
              "value": "Dummy company",
              "type": "string"
            },
            {
              "id": "99382541-adbf-4db2-bb14-0c577d236ada",
              "name": "job_description",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "a275712f-77bc-46d1-b848-26d93706579c",
              "name": "apply_link",
              "value": "https://example.com/apply",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5e9e6bd8-fc11-40e7-8a80-47febe9975e7",
      "name": "Normalize Job Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost"
            },
            {
              "name": "X-Title",
              "value": "SeekJob-AI"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{   \"model\": \"meta-llama/llama-3.1-8b-instruct\",   \"messages\": [     {       \"role\": \"user\",       \"content\": \"You are an autonomous placement assistant.\\n\\nEvaluate the job against the candidate's skills and make a decision.\\n\\nCandidate skills:\\n- C++\\n- Data Structures and Algorithms\\n- AI / Machine Learning\\n- Docker\\n- Cloud Basics\\n\\nJob Title: {{$json.job_title}}\\nCompany: {{$json.company}}\\nJob Description: {{$json.job_description}}\\n\\nReturn a JSON object with two fields:\\n- decision: one of FIT, MAYBE, or NO\\n- reason: one short sentence\\n\\nRespond ONLY with valid JSON.\\nDo not add any other text.\"     }   ],   \"temperature\": 0.3,   \"max_tokens\": 200 }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        0
      ],
      "id": "c1b59da3-360f-4dbf-94fd-9e43d1881c69",
      "name": "OpenRouter AI Fit Evaluation"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "77c9fd3f-38e1-46ef-bb21-8ad7e331069e",
      "name": "Limit to 1 Job"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1187fe02-dee3-4b27-994b-b56129aba732",
              "name": "decision",
              "value": "={{ JSON.parse($json.choices[0].message.content).decision }}\n",
              "type": "string"
            },
            {
              "id": "7a74fe26-e5b6-42ad-89ca-f6a622550ddb",
              "name": "reason",
              "value": "={{ JSON.parse($json.choices[0].message.content).reason }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "id": "0d4592f5-8417-43af-84db-70f4f0d4598d",
      "name": "Parse AI Decision"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Normalize Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Job Data": {
      "main": [
        [
          {
            "node": "Limit to 1 Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1 Job": {
      "main": [
        [
          {
            "node": "OpenRouter AI Fit Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter AI Fit Evaluation": {
      "main": [
        [
          {
            "node": "Parse AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ad4f6863-1075-4921-8581-61f01b0f2490",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b32fac88c5305c52301c1473dcbaefc11d4d059917fb22791309c635c1979e6"
  },
  "id": "pmhys0MQYvxw1Vvx",
  "tags": []
}